.border-left-violet {
  border-left: 3px solid #8b5cf6 !important;
}

.border-left-blue {
  border-left: 3px solid #0ea5e9 !important;
}

.border-left-rose {
  border-left: 3px solid #f43f5e !important;
}

.border-left-green {
  border-left: 3px solid #10b981 !important;
}

.border-left-amber {
  border-left: 3px solid #f59e0b !important;
}
