.bg-violet {
  background-color: #6d28d9;
}

.bg-violet-light {
  background-color: #ede9fe;
}

.bg-blue {
  background-color: #0369a1;
}

.bg-blue-light {
  background-color: #e0f2fe;
}

.bg-amber {
  background-color: #b45309;
}

.bg-amber-light {
  background-color: #fef3c7;
}

.bg-rose {
  background-color: #be123c;
}

.bg-rose-light {
  background-color: #ffe4e6;
}

.bg-green {
  background-color: #047857;
}

.bg-green-light {
  background: #e8f8f3;
}

.text-violet {
  color: #6d28d9;
}

.text-blue {
  color: #0369a1;
}

.text-amber {
  color: #b45309;
}

.text-rose {
  color: #be123c;
}

.text-green {
  color: #047857;
}
