.calendar-wrapper {
  padding: 20px;
  height: 100vh;
  overflow-y: hidden;

  .fc-scrollgrid-sync-table {
    height: calc(100vh + 40px) !important;
    overflow-y: scroll !important;
  }

  .fc {
    &.fc-media-screen.fc-direction-ltr.fc-theme-standard {
      height: 100%;
    }

    .fc-toolbar-title {
      font-size: 18px;
      font-weight: 500;
    }

    &-timeGridWeek-button,
    &-dayGridMonth-button,
    &-timeGridDay-button {
      &.fc-button-primary {
        margin: 0 4px;
        padding: 4px 22px;
        border: none;
        border-radius: 10px !important;
        outline: none;
        background-color: white !important;
        color: #71717a;
        font-weight: 600;
        font-weight: 600;
        text-transform: capitalize;
        transition: all 0.3s;

        &:hover {
          background-color: #FF385C !important;
          color: #fff;
        }
      }
    }

    &-timeGridDay-button.fc-button-primary:not(:disabled).fc-button-active,
    &-timeGridWeek-button.fc-button-primary:not(:disabled).fc-button-active,
    &-dayGridMonth-button.fc-button-primary:not(:disabled).fc-button-active {
      background-color: #FF385C !important;
      color: #fff;
    }

    &-button-primary:not(:disabled).fc-button-active:focus,
    &-button-primary:not(:disabled):active:focus {
      box-shadow: none;
    }

    &-today-button.fc-button.fc-button-primary {
      color: #18181b;
      background-color: #f4f4f5;

      &:hover {
        background-color: none;
      }
    }

    &-today-button.fc-button.fc-button-primary,
    &-prev-button.fc-button.fc-button-primary,
    &-next-button.fc-button.fc-button-primary {
      background-color: #f4f4f5 !important;
      border: none;
      margin: 0 1px;
      text-transform: capitalize;
    }

    &-today-button.fc-button.fc-button-primary {
      color: #000;
      font-weight: 600;
    }

    &-prev-button.fc-button.fc-button-primary,
    &-next-button.fc-button.fc-button-primary {
      background-color: #f4f4f5 !important;
      border: none;
      margin: 0 1px;
      text-transform: capitalize;
    }

    &-next-button.fc-button.fc-button-primary {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &-prev-button.fc-button.fc-button-primary {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &-icon.fc-icon-chevron-right,
    &-icon.fc-icon-chevron-left {
      color: #000 !important;
      font-weight: 600;
    }

    &-col-header-cell.fc-day {
      padding: 8px 64px 8px 0;
    }

    &-col-header-cell.fc-day.fc-day-sun.fc-day-future {
      border-left: none;
    }

    &-col-header-cell-cushion {
      text-transform: uppercase;
      padding-right: 100px;
      padding-left: 8px;
    }

    &-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
      text-transform: uppercase;
    }

    &-direction-ltr .fc-timegrid-slot-label-frame {
      text-align: left;
    }

    &-timegrid-slot.fc-timegrid-slot-label.fc-scrollgrid-shrink,
    &-timegrid-slot.fc-timegrid-slot-label.fc-timegrid-slot-minor {
      padding-bottom: 20px;
      text-align: left !important;
      color: #71717a;
      font-weight: 500;
      border: none;
    }

    &-col-header-cell.fc-day.fc-day-sun.fc-day-past {
      border-left: none !important;
    }

    &-theme-standard .fc-scrollgrid {
      border: none;
    }

    &-timegrid-axis {
      border: none;
    }

    colgroup > col {
      width: 80px !important;
    }
  }
}
