@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.sidebar {
  position: relative;
  height: 100vh;
  padding: 20px 24px 20px 34px;
  border-right: 1px solid #d6d6d6;
  animation: slideInFromLeft 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;

    .logo {
      height: 38px;
      .logo-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .btn-create {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff385c;
    font-size: 16px;
    padding: 6px 16px;
    border-radius: 4px;
    gap: 10px;
    margin-bottom: 24px;
    &-text {
      color: #fff;
      font-weight: 600;
    }
  }
  .sm {
    height: 50px;
    width: 50px;
    padding: 0;
  }
  .today-event {
    .event-header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 4px;
      color: #3b82f6;
      margin-bottom: 16px;
      &-title {
        font-weight: 700;
      }

      .event-date {
        font-weight: 500;
      }
    }

    .event-list {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 12px;
      line-height: 16px;
      height: 200px;
      min-height: 200px;
      &:hover {
        overflow-y: scroll;
      }
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: lighten($color: #f15773, $amount: 10);
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #f15773;
      }
      .event-item {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        gap: 8px;
        .event-detail {
          display: flex;
          flex-direction: column;
          gap: 4px;
          .event-info {
            display: flex;
            align-items: center;
            gap: 4px;

            .event-time {
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 16px;
              color: #a1a1aa;
            }
          }

          .event-title {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
          }

          .event-meeting-link {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            color: #a1a1aa;
          }
        }
      }
    }
  }
  .hide {
    display: none;
  }
  .icon-plus,
  .icon-list,
  .icon-arrow-left {
    cursor: pointer;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    background: rgba(244, 244, 245, 0.4);
  }

  .form-event {
    .form-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .icon-trash {
      color: map-get($color, $key: red);
    }
    .btn-delete {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }
    .btn-add {
      margin-top: 24px;
      font-size: 16px;
    }
    .form-input-group {
      margin-bottom: 12px;
    }
  }
}

@include tablet {
  .sidebar {
    &-header {
      .logo {
        height: 26px;
      }
    }

    .icon.icon-active-event {
      width: 8px;
      height: 8px;
    }
  }
}
