* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: 0.3s;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html, body {
  font-size: 16px;
  font-size: 1rem;
  font-family: san-serif;
  position: relative;
  font-weight: 300;
  color: #000000;
  line-height: 1.7;
  letter-spacing: 0.8px;
  background-color: #FFFFFF;
  overscroll-behavior: contain;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

image {
  max-width: 100%;
  width: 100%;
}

.pd-0 {
  padding: 0px;
  padding: 0rem;
}

.px-0 {
  padding: 0px 0px;
  padding: 0rem 0rem;
}

.py-0 {
  padding: 0px 0px;
  padding: 0rem 0rem;
}

.pl-0 {
  padding-left: 0px;
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0px;
  padding-right: 0rem;
}

.pt-0 {
  padding-top: 0px;
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0px;
  padding-bottom: 0rem;
}

.mg-0 {
  margin: 0px;
  margin: 0rem;
}

.mx-0 {
  margin: 0px 0px;
  margin: 0rem 0rem;
}

.my-0 {
  margin: 0px 0px;
  margin: 0rem 0rem;
}

.mt-0 {
  margin-top: 0px;
  margin-top: 0rem;
}

.ml-0 {
  margin-left: 0px;
  margin-left: 0rem;
}

.mb-0 {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.mr-0 {
  margin-right: 0px;
  margin-right: 0rem;
}

.mr-0-i {
  margin-right: 0px;
  margin-right: 0rem;
}

.pd-1 {
  padding: 5px;
  padding: 0.3125rem;
}

.px-1 {
  padding: 0px 5px;
  padding: 0rem 0.3125rem;
}

.py-1 {
  padding: 5px 0px;
  padding: 0.3125rem 0rem;
}

.pl-1 {
  padding-left: 5px;
  padding-left: 0.3125rem;
}

.pr-1 {
  padding-right: 5px;
  padding-right: 0.3125rem;
}

.pt-1 {
  padding-top: 5px;
  padding-top: 0.3125rem;
}

.pb-1 {
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
}

.mg-1 {
  margin: 5px;
  margin: 0.3125rem;
}

.mx-1 {
  margin: 0px 5px;
  margin: 0rem 0.3125rem;
}

.my-1 {
  margin: 5px 0px;
  margin: 0.3125rem 0rem;
}

.mt-1 {
  margin-top: 5px;
  margin-top: 0.3125rem;
}

.ml-1 {
  margin-left: 5px;
  margin-left: 0.3125rem;
}

.mb-1 {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

.mr-1 {
  margin-right: 5px;
  margin-right: 0.3125rem;
}

.mr-1-i {
  margin-right: 5px;
  margin-right: 0.3125rem;
}

.pd-2 {
  padding: 10px;
  padding: 0.625rem;
}

.px-2 {
  padding: 0px 10px;
  padding: 0rem 0.625rem;
}

.py-2 {
  padding: 10px 0px;
  padding: 0.625rem 0rem;
}

.pl-2 {
  padding-left: 10px;
  padding-left: 0.625rem;
}

.pr-2 {
  padding-right: 10px;
  padding-right: 0.625rem;
}

.pt-2 {
  padding-top: 10px;
  padding-top: 0.625rem;
}

.pb-2 {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.mg-2 {
  margin: 10px;
  margin: 0.625rem;
}

.mx-2 {
  margin: 0px 10px;
  margin: 0rem 0.625rem;
}

.my-2 {
  margin: 10px 0px;
  margin: 0.625rem 0rem;
}

.mt-2 {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.ml-2 {
  margin-left: 10px;
  margin-left: 0.625rem;
}

.mb-2 {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

.mr-2 {
  margin-right: 10px;
  margin-right: 0.625rem;
}

.mr-2-i {
  margin-right: 10px;
  margin-right: 0.625rem;
}

.pd-3 {
  padding: 15px;
  padding: 0.9375rem;
}

.px-3 {
  padding: 0px 15px;
  padding: 0rem 0.9375rem;
}

.py-3 {
  padding: 15px 0px;
  padding: 0.9375rem 0rem;
}

.pl-3 {
  padding-left: 15px;
  padding-left: 0.9375rem;
}

.pr-3 {
  padding-right: 15px;
  padding-right: 0.9375rem;
}

.pt-3 {
  padding-top: 15px;
  padding-top: 0.9375rem;
}

.pb-3 {
  padding-bottom: 15px;
  padding-bottom: 0.9375rem;
}

.mg-3 {
  margin: 15px;
  margin: 0.9375rem;
}

.mx-3 {
  margin: 0px 15px;
  margin: 0rem 0.9375rem;
}

.my-3 {
  margin: 15px 0px;
  margin: 0.9375rem 0rem;
}

.mt-3 {
  margin-top: 15px;
  margin-top: 0.9375rem;
}

.ml-3 {
  margin-left: 15px;
  margin-left: 0.9375rem;
}

.mb-3 {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}

.mr-3 {
  margin-right: 15px;
  margin-right: 0.9375rem;
}

.mr-3-i {
  margin-right: 15px;
  margin-right: 0.9375rem;
}

.pd-4 {
  padding: 20px;
  padding: 1.25rem;
}

.px-4 {
  padding: 0px 20px;
  padding: 0rem 1.25rem;
}

.py-4 {
  padding: 20px 0px;
  padding: 1.25rem 0rem;
}

.pl-4 {
  padding-left: 20px;
  padding-left: 1.25rem;
}

.pr-4 {
  padding-right: 20px;
  padding-right: 1.25rem;
}

.pt-4 {
  padding-top: 20px;
  padding-top: 1.25rem;
}

.pb-4 {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.mg-4 {
  margin: 20px;
  margin: 1.25rem;
}

.mx-4 {
  margin: 0px 20px;
  margin: 0rem 1.25rem;
}

.my-4 {
  margin: 20px 0px;
  margin: 1.25rem 0rem;
}

.mt-4 {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.ml-4 {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.mb-4 {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.mr-4 {
  margin-right: 20px;
  margin-right: 1.25rem;
}

.mr-4-i {
  margin-right: 20px;
  margin-right: 1.25rem;
}

.pd-5 {
  padding: 25px;
  padding: 1.5625rem;
}

.px-5 {
  padding: 0px 25px;
  padding: 0rem 1.5625rem;
}

.py-5 {
  padding: 25px 0px;
  padding: 1.5625rem 0rem;
}

.pl-5 {
  padding-left: 25px;
  padding-left: 1.5625rem;
}

.pr-5 {
  padding-right: 25px;
  padding-right: 1.5625rem;
}

.pt-5 {
  padding-top: 25px;
  padding-top: 1.5625rem;
}

.pb-5 {
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
}

.mg-5 {
  margin: 25px;
  margin: 1.5625rem;
}

.mx-5 {
  margin: 0px 25px;
  margin: 0rem 1.5625rem;
}

.my-5 {
  margin: 25px 0px;
  margin: 1.5625rem 0rem;
}

.mt-5 {
  margin-top: 25px;
  margin-top: 1.5625rem;
}

.ml-5 {
  margin-left: 25px;
  margin-left: 1.5625rem;
}

.mb-5 {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
}

.mr-5 {
  margin-right: 25px;
  margin-right: 1.5625rem;
}

.mr-5-i {
  margin-right: 25px;
  margin-right: 1.5625rem;
}

.pd-6 {
  padding: 30px;
  padding: 1.875rem;
}

.px-6 {
  padding: 0px 30px;
  padding: 0rem 1.875rem;
}

.py-6 {
  padding: 30px 0px;
  padding: 1.875rem 0rem;
}

.pl-6 {
  padding-left: 30px;
  padding-left: 1.875rem;
}

.pr-6 {
  padding-right: 30px;
  padding-right: 1.875rem;
}

.pt-6 {
  padding-top: 30px;
  padding-top: 1.875rem;
}

.pb-6 {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}

.mg-6 {
  margin: 30px;
  margin: 1.875rem;
}

.mx-6 {
  margin: 0px 30px;
  margin: 0rem 1.875rem;
}

.my-6 {
  margin: 30px 0px;
  margin: 1.875rem 0rem;
}

.mt-6 {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.ml-6 {
  margin-left: 30px;
  margin-left: 1.875rem;
}

.mb-6 {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

.mr-6 {
  margin-right: 30px;
  margin-right: 1.875rem;
}

.mr-6-i {
  margin-right: 30px;
  margin-right: 1.875rem;
}

.pd-7 {
  padding: 35px;
  padding: 2.1875rem;
}

.px-7 {
  padding: 0px 35px;
  padding: 0rem 2.1875rem;
}

.py-7 {
  padding: 35px 0px;
  padding: 2.1875rem 0rem;
}

.pl-7 {
  padding-left: 35px;
  padding-left: 2.1875rem;
}

.pr-7 {
  padding-right: 35px;
  padding-right: 2.1875rem;
}

.pt-7 {
  padding-top: 35px;
  padding-top: 2.1875rem;
}

.pb-7 {
  padding-bottom: 35px;
  padding-bottom: 2.1875rem;
}

.mg-7 {
  margin: 35px;
  margin: 2.1875rem;
}

.mx-7 {
  margin: 0px 35px;
  margin: 0rem 2.1875rem;
}

.my-7 {
  margin: 35px 0px;
  margin: 2.1875rem 0rem;
}

.mt-7 {
  margin-top: 35px;
  margin-top: 2.1875rem;
}

.ml-7 {
  margin-left: 35px;
  margin-left: 2.1875rem;
}

.mb-7 {
  margin-bottom: 35px;
  margin-bottom: 2.1875rem;
}

.mr-7 {
  margin-right: 35px;
  margin-right: 2.1875rem;
}

.mr-7-i {
  margin-right: 35px;
  margin-right: 2.1875rem;
}

.pd-8 {
  padding: 40px;
  padding: 2.5rem;
}

.px-8 {
  padding: 0px 40px;
  padding: 0rem 2.5rem;
}

.py-8 {
  padding: 40px 0px;
  padding: 2.5rem 0rem;
}

.pl-8 {
  padding-left: 40px;
  padding-left: 2.5rem;
}

.pr-8 {
  padding-right: 40px;
  padding-right: 2.5rem;
}

.pt-8 {
  padding-top: 40px;
  padding-top: 2.5rem;
}

.pb-8 {
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}

.mg-8 {
  margin: 40px;
  margin: 2.5rem;
}

.mx-8 {
  margin: 0px 40px;
  margin: 0rem 2.5rem;
}

.my-8 {
  margin: 40px 0px;
  margin: 2.5rem 0rem;
}

.mt-8 {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.ml-8 {
  margin-left: 40px;
  margin-left: 2.5rem;
}

.mb-8 {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.mr-8 {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.mr-8-i {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.pd-9 {
  padding: 45px;
  padding: 2.8125rem;
}

.px-9 {
  padding: 0px 45px;
  padding: 0rem 2.8125rem;
}

.py-9 {
  padding: 45px 0px;
  padding: 2.8125rem 0rem;
}

.pl-9 {
  padding-left: 45px;
  padding-left: 2.8125rem;
}

.pr-9 {
  padding-right: 45px;
  padding-right: 2.8125rem;
}

.pt-9 {
  padding-top: 45px;
  padding-top: 2.8125rem;
}

.pb-9 {
  padding-bottom: 45px;
  padding-bottom: 2.8125rem;
}

.mg-9 {
  margin: 45px;
  margin: 2.8125rem;
}

.mx-9 {
  margin: 0px 45px;
  margin: 0rem 2.8125rem;
}

.my-9 {
  margin: 45px 0px;
  margin: 2.8125rem 0rem;
}

.mt-9 {
  margin-top: 45px;
  margin-top: 2.8125rem;
}

.ml-9 {
  margin-left: 45px;
  margin-left: 2.8125rem;
}

.mb-9 {
  margin-bottom: 45px;
  margin-bottom: 2.8125rem;
}

.mr-9 {
  margin-right: 45px;
  margin-right: 2.8125rem;
}

.mr-9-i {
  margin-right: 45px;
  margin-right: 2.8125rem;
}

.pd-10 {
  padding: 50px;
  padding: 3.125rem;
}

.px-10 {
  padding: 0px 50px;
  padding: 0rem 3.125rem;
}

.py-10 {
  padding: 50px 0px;
  padding: 3.125rem 0rem;
}

.pl-10 {
  padding-left: 50px;
  padding-left: 3.125rem;
}

.pr-10 {
  padding-right: 50px;
  padding-right: 3.125rem;
}

.pt-10 {
  padding-top: 50px;
  padding-top: 3.125rem;
}

.pb-10 {
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
}

.mg-10 {
  margin: 50px;
  margin: 3.125rem;
}

.mx-10 {
  margin: 0px 50px;
  margin: 0rem 3.125rem;
}

.my-10 {
  margin: 50px 0px;
  margin: 3.125rem 0rem;
}

.mt-10 {
  margin-top: 50px;
  margin-top: 3.125rem;
}

.ml-10 {
  margin-left: 50px;
  margin-left: 3.125rem;
}

.mb-10 {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

.mr-10 {
  margin-right: 50px;
  margin-right: 3.125rem;
}

.mr-10-i {
  margin-right: 50px;
  margin-right: 3.125rem;
}

.txt-prewarp {
  white-space: pre-wrap;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

.txt-bold {
  font-weight: 700;
}

.txt-demi {
  font-weight: 600;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.text-danger {
  color: red;
}

.users-page .users-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.users-page table.users {
  border-collapse: collapse;
  width: 100%;
}
.users-page table.users.user-detail {
  width: 50%;
  margin: 0 auto;
}
.users-page table.users td, .users-page table.users th {
  padding: 8px;
}
.users-page table.users tr:nth-child(odd) {
  background-color: #EEEEEE;
}
.users-page table.users tr:hover {
  background-color: #ddd;
}
.users-page table.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

/*# sourceMappingURL=app.css.map */
