@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import 'react-calendar/dist/Calendar.css';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Roboto", "san-serif";
  position: relative;
  font-weight: 300;
  color: #000000;
  line-height: 1.6;
  letter-spacing: 0.8px;
  overscroll-behavior: contain;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

image {
  max-width: 100%;
  width: 100%;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-username {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/ic-username.svg");
}
.icon-password {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/ic-password.svg");
}
.icon.icon-arrow-left {
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/ic-arrow-left.svg");
}
.icon.icon-list {
  width: 26px;
  height: 26px;
  background-image: url("../../assets/icons/ic-list.svg");
}
.icon.icon-plus-circle {
  width: 32px;
  height: 32px;
  background-image: url("../../assets/icons/ic-plus-circle.svg");
}
.icon.icon-trash {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icons/ic-trash.svg");
}
.icon.icon-plus {
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/ic-plus.svg");
}
.icon.icon-active {
  width: 8px;
  height: 8px;
  background-image: url("../../assets/icons/ic-active.svg");
}
.icon.icon-active-event {
  width: 12px;
  height: 12px;
  background-image: url("../../assets/icons/ic-active-event.svg");
}
.icon.icon-camera {
  width: 8px;
  height: 8px;
  background-image: url("../../assets/icons/ic-camera.svg");
}
.icon.icon-meeting-link {
  width: 22px;
  height: 22px;
  background-image: url("../../assets/icons/ic-meeting-link.svg");
}
.icon.icon-desc {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/ic-desc.svg");
}
.icon.icon-room {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/ic-room.svg");
}
.icon.icon-calendar {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/ic-calendar.svg");
}
.icon.icon-user {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/ic-user.svg");
}
.icon.icon-copy {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/ic-copy.svg");
  cursor: pointer;
}
.icon.icon-time {
  width: 14px;
  height: 14px;
  background-image: url("../../assets/icons/ic-time.svg");
}
.icon.icon-close {
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/ic-close.svg");
}
.icon.icon-pen {
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/ic-pen.svg");
}
.icon.icon-bin {
  width: 18px;
  height: 18px;
  background-image: url("../../assets/icons/ic-bin.svg");
}

.form-input-group {
  display: flex;
  margin-bottom: 8px;
}

.form-label {
  font-size: 18px;
}

.input-icons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-block: 4px;
  padding: 8px;
  border-radius: 9px;
  border: 1px solid #d3d8e0;
  background: #fff;
  position: relative;
}
.input-icons:hover {
  border: 1px solid #1c1c1c;
}
.input-icons:focus-within {
  border: 1px solid #1c1c1c;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-label {
  margin-left: 4px;
  font-size: 13px;
  font-weight: 600;
}

.form-input {
  padding-left: 4px;
  border-radius: 8px;
  height: 25px;
  flex: 1;
}
.form-input::placeholder {
  font-size: 14px;
  color: #d8d7d7;
}
.form-input:focus::placeholder {
  color: transparent;
}

.form-error {
  color: #dc2626;
  font-size: 12px;
}

.form-label {
  font-weight: 500;
}

.form-title,
.form-label {
  color: #1c1c1c;
}

.form-input-group {
  flex-direction: column;
}

.form-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.form-btn-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.form-btn-group .form-btn {
  font-weight: 700;
  font-size: 20px;
  padding: 12px 80px;
  border-radius: 12px;
  font-size: 16px;
  height: 48px;
  cursor: pointer;
}
.form-btn-group .cancel {
  color: rgba(21, 25, 32, 0.5);
  background-color: #f5f7fb;
  flex: 1;
}
.form-btn-group .save {
  background-color: #ff385c;
  color: #fff;
  flex: 1;
}

.btn-add {
  width: 100%;
  border-radius: 8px;
  padding: 10px 12px;
  color: #fff;
  background-color: #1c1c1c;
  cursor: pointer;
}

.search-list {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  border-radius: 6px;
  z-index: 1;
  background-color: #fff;
}

.search-item {
  margin: 4px 0;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 15px;
}
.search-item:hover {
  background-color: rgba(245, 245, 245, 0.6235294118);
  cursor: pointer;
}
.search-item.disabled {
  position: relative;
  opacity: 0.4;
  cursor: default;
}

.guest-list {
  max-height: 250px;
  overflow-y: scroll;
}

.guest-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 400;
}
.guest-item .icon-delete {
  visibility: hidden;
}
.guest-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.guest-item:hover .icon-delete {
  visibility: initial;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: transparent;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid transparent;
  user-select: none;
  cursor: pointer;
}
.btn.btn-primary {
  background-color: #ff385c;
  color: #fff;
  padding: 4px 10px;
  font-weight: 500;
}
.btn.btn-toggle-sidebar {
  padding: 4px;
}
.btn.login-btn {
  width: 100%;
  padding: 17px;
  border-radius: 13px;
  background-color: #ff385c;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.btn.login-btn:disabled {
  cursor: not-allowed;
  border: none;
  color: #97989f;
  background: #e8e8ea;
}
.btn.btn-copy {
  background-color: transparent;
}
.btn.btn-modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}
.btn.btn-modal-close:hover {
  background-color: #f4f4f5;
}
.btn.loading::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
.btn.loading .btn-text {
  visibility: hidden;
  transition: none;
  opacity: 0;
}
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.admin-list-checkbox {
  margin-bottom: 16px;
  /* The admin-list-container */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.admin-list-checkbox .admin-list-container {
  display: block;
  position: relative;
  padding-left: 43px;
  padding-block: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.admin-list-checkbox .admin-list-container:hover {
  background-color: #eee;
}
.admin-list-checkbox .admin-list-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.admin-list-checkbox .checkmark {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 24px;
  width: 24px;
  background-color: #eee;
}
.admin-list-checkbox .admin-list-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.admin-list-checkbox .admin-list-container input:checked ~ .checkmark {
  background-color: #ff385c;
}
.admin-list-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.admin-list-checkbox .admin-list-container input:checked ~ .checkmark:after {
  display: block;
}
.admin-list-checkbox .admin-list-container .checkmark:after {
  left: 9px;
  top: 4px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-wrapper .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 99;
  border-radius: 24px;
}
.modal-wrapper .modal-confirm-wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9997;
}
.modal-wrapper .modal-confirm-wrapper .modal-confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 24px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.modal-wrapper .modal-confirm-wrapper .modal-confirm-title {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  pointer-events: none;
}
.modal-wrapper .modal-confirm-wrapper .modal-confirm-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.modal-wrapper .modal-confirm-wrapper .modal-confirm-footer .btn-confirm {
  flex: 1;
  font-weight: 700;
  padding: 12px 60px;
  border-radius: 12px;
  height: 48px;
  background-color: #ff385c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.modal-wrapper .modal-confirm-wrapper .modal-confirm-footer .btn-confirm:hover {
  background-color: #ff0532;
}
.modal-wrapper .modal-confirm-wrapper .modal-confirm-footer .btn-cancel {
  flex: 1;
  font-weight: 700;
  padding: 12px 60px;
  border-radius: 12px;
  height: 52px;
  color: rgba(21, 25, 32, 0.5);
  background-color: #f5f7fb;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.modal-wrapper .modal-confirm-wrapper .modal-confirm-footer .btn-cancel:hover {
  background-color: #f0f0f0;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.spinner-wrapper .spinner {
  animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.spinner-wrapper .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.modal-event-wrapper {
  width: 530px;
  padding: 24px 28px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 24px;
  max-height: 660px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.modal-event-wrapper .modal-event-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 8px;
  transition: all 0.2s ease-in-out;
}
.modal-event-wrapper .modal-event-header .btn-modal-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  background: none;
}
.modal-event-wrapper .modal-event-header .btn-modal-link:hover {
  background-color: #f4f4f5;
}
.modal-event-wrapper .event-detail-wrapper .event-detail {
  font-size: 16px;
  font-weight: 400;
}
.modal-event-wrapper .event-detail-wrapper .event-info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal-event-wrapper .event-detail-wrapper .event-info-row {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.modal-event-wrapper .event-detail-wrapper .event-info-col {
  padding: 14px;
  border: 1px solid #eee;
  gap: 8px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  align-items: center;
}
.modal-event-wrapper .event-detail-wrapper .event-info-item {
  padding: 14px;
  border: 1px solid #eee;
  border-radius: 10px;
}
.modal-event-wrapper .event-detail-wrapper .event-info-item .event-detail {
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal-event-wrapper .event-detail-wrapper .event-info-item .event-detail-info {
  font-size: 14px;
  font-weight: 400;
  flex: 1;
}

.custom-event-wrapper {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 2px;
  overflow: hidden;
}
.custom-event-wrapper .custom-event {
  display: flex;
  flex-wrap: wrap;
}
.custom-event-wrapper .custom-event-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.custom-event-wrapper .custom-event-time-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.custom-event-wrapper .custom-event-time {
  line-height: 20px;
  margin-right: 4px;
  font-size: 10px;
}
.custom-event-wrapper .custom-event-title {
  font-size: 12px;
}
.custom-event-wrapper .custom-event-time, .custom-event-wrapper .custom-event-title {
  font-weight: 500;
}

@media (max-width: 1024px) {
  .custom-event-wrapper .custom-event.time {
    margin-right: 0;
  }
}
.mini-calendar {
  margin-bottom: 16px;
}
.mini-calendar .react-calendar {
  border: 0;
}
.mini-calendar .react-calendar__navigation__label__labelText {
  color: #ff385c;
  font-size: 24px;
  font-weight: 600;
}
.mini-calendar .react-calendar .react-calendar__navigation {
  display: flex;
  align-items: center;
  position: relative;
}
.mini-calendar .react-calendar .react-calendar__navigation .react-calendar__navigation__label {
  flex-grow: 0 !important;
}
.mini-calendar .react-calendar .react-calendar__navigation .react-calendar__navigation__prev-button,
.mini-calendar .react-calendar .react-calendar__navigation .react-calendar__navigation__next-button {
  position: absolute;
  font-size: 34px;
  padding: 6px;
}
.mini-calendar .react-calendar .react-calendar__navigation .react-calendar__navigation__prev2-button,
.mini-calendar .react-calendar .react-calendar__navigation .react-calendar__navigation__next2-button {
  display: none;
}
.mini-calendar .react-calendar .react-calendar__navigation .react-calendar__navigation__next-button {
  right: 0;
}
.mini-calendar .react-calendar .react-calendar__navigation .react-calendar__navigation__prev-button {
  right: 46px;
}
.mini-calendar .react-calendar__month-view__days .react-calendar__tile {
  position: relative;
}
.mini-calendar .react-calendar__month-view__days .react-calendar__tile.active::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #3b82f6;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}
.mini-calendar .react-calendar__month-view__days .react-calendar__tile--now {
  font-weight: 700;
  background-color: #ff385c;
  color: #fff;
}
.mini-calendar .react-calendar__month-view__days .react-calendar__tile--now.active::after {
  background-color: #fff;
}
.mini-calendar .react-calendar__month-view__days .react-calendar__tile:enabled {
  border-radius: 50%;
}
.mini-calendar .react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day, .mini-calendar .react-calendar__tile.react-calendar__month-view__days__day {
  padding: 14px 0;
}

@media (max-width: 1024px) {
  .mini-calendar {
    display: none;
  }
}
.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding: 0 10px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    padding: 0px 24px;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0px 12px;
  }
  .row {
    margin: 0 -4px !important;
  }
  .col {
    padding: 0 4px !important;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 24px;
  z-index: 2;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner .logo-link {
  display: flex;
  align-items: center;
}
.header-logo-group {
  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 32px;
}

@media (max-width: 1024px) {
  .header-logo-group {
    gap: 10px;
    padding: 0;
  }
  .header-logo-group .btn.btn-toggle-sidebar {
    margin-left: 8px;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-70%);
  }
  70% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}
.sidebar {
  position: relative;
  height: 100vh;
  padding: 20px 24px 20px 34px;
  border-right: 1px solid #d6d6d6;
  margin-top: 52px;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.sidebar-header .logo {
  height: 38px;
}
.sidebar-header .logo .logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar .btn-create {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ff385c;
  font-size: 16px;
  padding: 6px 16px;
  border-radius: 4px;
  gap: 10px;
}
.sidebar .btn-create-text {
  color: #fff;
  font-weight: 600;
}
.sidebar .sm {
  height: 50px;
  width: 50px;
  padding: 0;
}
.sidebar .today-event .event-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  color: #3b82f6;
  margin-bottom: 16px;
}
.sidebar .today-event .event-header-title {
  font-weight: 700;
}
.sidebar .today-event .event-header .event-date {
  font-weight: 500;
}
.sidebar .today-event .event-list {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 16px;
  height: 200px;
  min-height: 200px;
}
.sidebar .today-event .event-list:hover {
  overflow-y: scroll;
}
.sidebar .today-event .event-list::-webkit-scrollbar {
  width: 6px;
}
.sidebar .today-event .event-list::-webkit-scrollbar-thumb {
  background: #f5869a;
  border-radius: 5px;
}
.sidebar .today-event .event-list::-webkit-scrollbar-thumb:hover {
  background: #f15773;
}
.sidebar .today-event .event-list .event-item {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 8px;
}
.sidebar .today-event .event-list .event-item .event-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sidebar .today-event .event-list .event-item .event-detail .event-info {
  display: flex;
  align-items: center;
  gap: 4px;
}
.sidebar .today-event .event-list .event-item .event-detail .event-info .event-time {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: #a1a1aa;
}
.sidebar .today-event .event-list .event-item .event-detail .event-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.sidebar .today-event .event-list .event-item .event-detail .event-meeting-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #a1a1aa;
}
.sidebar .hide {
  display: none;
}
.sidebar .icon-plus,
.sidebar .icon-list,
.sidebar .icon-arrow-left {
  cursor: pointer;
}
.sidebar .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  background: rgba(244, 244, 245, 0.4);
}
.sidebar .form-event .form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sidebar .form-event .icon-trash {
  color: #dc2626;
}
.sidebar .form-event .btn-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.sidebar .form-event .btn-add {
  margin-top: 24px;
  font-size: 16px;
}
.sidebar .form-event .form-input-group {
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .sidebar-header .logo {
    height: 26px;
  }
  .sidebar .icon.icon-active-event {
    width: 8px;
    height: 8px;
  }
}
:root {
  --fc-border-color: #fafafa;
}

.calendar-wrapper {
  height: 100vh;
  padding: 0 20px 20px;
  padding-top: 46px;
}
.calendar-wrapper .day-header-name,
.calendar-wrapper .day-header-value {
  display: inline-block;
}
.calendar-wrapper .day-header-name {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  color: #71717a;
}
.calendar-wrapper .day-header-value {
  font-size: 22px;
  font-weight: 500;
  color: #000;
  line-height: 1.4;
}
.calendar-wrapper .fc-scrollgrid-sync-table {
  height: calc(100vh + 40px) !important;
}
.calendar-wrapper .fc-timegrid-now-indicator-line {
  display: none;
}
.calendar-wrapper .fc .fc-col-header {
  width: 100% !important;
}
.calendar-wrapper .fc .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  overflow-x: scroll !important;
}
.calendar-wrapper .fc .fc-view-harness.fc-view-harness-active {
  overflow-x: scroll;
}
.calendar-wrapper .fc .fc-timegrid-cols .presentation {
  width: 100%;
}
.calendar-wrapper .fc .fc-timeGridWeek-view.fc-view.fc-timegrid {
  width: 100%;
}
.calendar-wrapper .fc .fc-scrollgrid.fc-scrollgrid-liquid {
  min-width: 1034px;
}
.calendar-wrapper .fc .fc-daygrid-body.fc-daygrid-body-balanced {
  width: 100% !important;
}
.calendar-wrapper .fc .fc-scrollgrid-sync-table {
  width: 100% !important;
}
.calendar-wrapper .fc .fc-daygrid-day-top {
  flex-direction: row;
  padding-left: 6px;
}
.calendar-wrapper .fc .event-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.calendar-wrapper .fc .fc-daygrid-more-link.fc-more-link {
  float: right;
}
.calendar-wrapper .fc .fc-daygrid-event-dot {
  display: none;
}
.calendar-wrapper .fc .fc-event-main {
  overflow: hidden;
}
.calendar-wrapper .fc .fc-event-main-frame {
  display: flex;
  gap: 4px;
}
.calendar-wrapper .fc .fc-event-time {
  display: flex;
  align-items: center;
  gap: 4px;
}
.calendar-wrapper .fc .fc-event-time,
.calendar-wrapper .fc .fc-event-title.fc-sticky {
  display: flex;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
}
.calendar-wrapper .fc .fc-event-time.meeting-link,
.calendar-wrapper .fc .fc-event-title.fc-sticky.meeting-link {
  color: #6d28d9;
}
.calendar-wrapper .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  height: 100%;
}
.calendar-wrapper .fc .fc-toolbar-title {
  font-size: 18px;
  font-weight: 500;
}
.calendar-wrapper .fc-timeGridWeek-button.fc-button-primary, .calendar-wrapper .fc-dayGridMonth-button.fc-button-primary, .calendar-wrapper .fc-timeGridDay-button.fc-button-primary {
  margin: 0 4px;
  padding: 4px 16px;
  border: none;
  border-radius: 10px !important;
  outline: none;
  background-color: white !important;
  color: #71717a;
  font-weight: 600;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.2s;
}
.calendar-wrapper .fc-timeGridWeek-button.fc-button-primary:hover, .calendar-wrapper .fc-dayGridMonth-button.fc-button-primary:hover, .calendar-wrapper .fc-timeGridDay-button.fc-button-primary:hover {
  background-color: #ff385c !important;
  color: #fff;
}
.calendar-wrapper .fc-timeGridDay-button.fc-button-primary:not(:disabled).fc-button-active, .calendar-wrapper .fc-timeGridWeek-button.fc-button-primary:not(:disabled).fc-button-active, .calendar-wrapper .fc-dayGridMonth-button.fc-button-primary:not(:disabled).fc-button-active {
  background-color: #ff385c !important;
  color: #fff;
}
.calendar-wrapper .fc-button-primary:not(:disabled).fc-button-active:focus, .calendar-wrapper .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}
.calendar-wrapper .fc .fc-today-button.fc-button.fc-button-primary {
  font-weight: 400;
  font-size: 14px;
  color: #18181b;
  background-color: #f4f4f5;
}
.calendar-wrapper .fc .fc-today-button.fc-button.fc-button-primary:hover {
  background-color: none;
}
.calendar-wrapper .fc-today-button.fc-button.fc-button-primary, .calendar-wrapper .fc-prev-button.fc-button.fc-button-primary, .calendar-wrapper .fc-next-button.fc-button.fc-button-primary {
  background-color: #f4f4f5 !important;
  border: none;
  margin: 0 1px;
  text-transform: capitalize;
}
.calendar-wrapper .fc-today-button.fc-button.fc-button-primary {
  color: #000;
  font-weight: 600;
}
.calendar-wrapper .fc-prev-button.fc-button.fc-button-primary, .calendar-wrapper .fc-next-button.fc-button.fc-button-primary {
  background-color: #f4f4f5 !important;
  border: none;
  margin: 0 1px;
  text-transform: capitalize;
}
.calendar-wrapper .fc-next-button.fc-button.fc-button-primary {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.calendar-wrapper .fc-prev-button.fc-button.fc-button-primary {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.calendar-wrapper .fc .fc-icon.fc-icon-chevron-right,
.calendar-wrapper .fc .fc-icon.fc-icon-chevron-left {
  color: #000 !important;
  font-weight: 200;
}
.calendar-wrapper .fc-col-header-cell.fc-day {
  padding: 8px 64px 8px 0;
}
.calendar-wrapper .fc-col-header-cell.fc-day.fc-day-sun.fc-day-future {
  border-left: none;
}
.calendar-wrapper .fc-col-header-cell-cushion {
  text-transform: uppercase;
  padding-right: 100px;
  padding-left: 8px;
}
.calendar-wrapper .fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
  text-transform: uppercase;
}
.calendar-wrapper .fc-direction-ltr .fc-timegrid-slot-label-frame {
  text-align: left;
}
.calendar-wrapper .fc-timegrid-slot.fc-timegrid-slot-label.fc-scrollgrid-shrink, .calendar-wrapper .fc-timegrid-slot.fc-timegrid-slot-label.fc-timegrid-slot-minor {
  padding-bottom: 4px;
  text-align: left !important;
  color: #71717a;
  font-weight: 500;
  border: none;
}
.calendar-wrapper .fc-col-header-cell.fc-day.fc-day-sun.fc-day-past {
  border-left: none !important;
}
.calendar-wrapper .fc-theme-standard .fc-scrollgrid {
  border: none;
}
.calendar-wrapper .fc-timegrid-axis {
  border: none;
}
.calendar-wrapper .fc colgroup > col {
  width: 80px !important;
}

@media (max-width: 1024px) {
  .calendar-wrapper {
    padding: 52px 10px 20px;
  }
  .calendar-wrapper .day-header-value {
    font-size: 16px;
  }
  .calendar-wrapper .day-header-name {
    font-size: 10px;
  }
  .calendar-wrapper .fc .fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
    font-size: 14px;
  }
  .calendar-wrapper .fc .fc-toolbar-title {
    font-size: 16px;
  }
  .calendar-wrapper .fc .fc-button-group {
    font-size: 12px;
  }
  .calendar-wrapper .fc .fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
    font-weight: 400;
  }
  .calendar-wrapper .fc .fc-timeGridDay-button.fc-button-primary:not(:disabled).fc-button-active,
  .calendar-wrapper .fc .fc-timeGridWeek-button.fc-button-primary:not(:disabled).fc-button-active,
  .calendar-wrapper .fc .fc-dayGridMonth-button.fc-button-primary:not(:disabled).fc-button-active {
    padding: 4px 10px;
    margin-left: 0;
  }
  .calendar-wrapper .fc .fc-timeGridWeek-button.fc-button-primary,
  .calendar-wrapper .fc .fc-dayGridMonth-button.fc-button-primary,
  .calendar-wrapper .fc .fc-timeGridDay-button.fc-button-primary {
    padding: 4px 10px;
  }
  .calendar-wrapper .fc .fc .fc-today-button.fc-button.fc-button-primary {
    font-size: 12px;
  }
}
.pd-0 {
  padding: 0px;
  padding: 0rem;
}

.px-0 {
  padding: 0px 0px;
  padding: 0rem 0rem;
}

.py-0 {
  padding: 0px 0px;
  padding: 0rem 0rem;
}

.pl-0 {
  padding-left: 0px;
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0px;
  padding-right: 0rem;
}

.pt-0 {
  padding-top: 0px;
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0px;
  padding-bottom: 0rem;
}

.mg-0 {
  margin: 0px;
  margin: 0rem;
}

.mx-0 {
  margin: 0px 0px;
  margin: 0rem 0rem;
}

.my-0 {
  margin: 0px 0px;
  margin: 0rem 0rem;
}

.mt-0 {
  margin-top: 0px;
  margin-top: 0rem;
}

.ml-0 {
  margin-left: 0px;
  margin-left: 0rem;
}

.mb-0 {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.mr-0 {
  margin-right: 0px;
  margin-right: 0rem;
}

.mr-0-i {
  margin-right: 0px;
  margin-right: 0rem;
}

.pd-1 {
  padding: 5px;
  padding: 0.3125rem;
}

.px-1 {
  padding: 0px 5px;
  padding: 0rem 0.3125rem;
}

.py-1 {
  padding: 5px 0px;
  padding: 0.3125rem 0rem;
}

.pl-1 {
  padding-left: 5px;
  padding-left: 0.3125rem;
}

.pr-1 {
  padding-right: 5px;
  padding-right: 0.3125rem;
}

.pt-1 {
  padding-top: 5px;
  padding-top: 0.3125rem;
}

.pb-1 {
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
}

.mg-1 {
  margin: 5px;
  margin: 0.3125rem;
}

.mx-1 {
  margin: 0px 5px;
  margin: 0rem 0.3125rem;
}

.my-1 {
  margin: 5px 0px;
  margin: 0.3125rem 0rem;
}

.mt-1 {
  margin-top: 5px;
  margin-top: 0.3125rem;
}

.ml-1 {
  margin-left: 5px;
  margin-left: 0.3125rem;
}

.mb-1 {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

.mr-1 {
  margin-right: 5px;
  margin-right: 0.3125rem;
}

.mr-1-i {
  margin-right: 5px;
  margin-right: 0.3125rem;
}

.pd-2 {
  padding: 10px;
  padding: 0.625rem;
}

.px-2 {
  padding: 0px 10px;
  padding: 0rem 0.625rem;
}

.py-2 {
  padding: 10px 0px;
  padding: 0.625rem 0rem;
}

.pl-2 {
  padding-left: 10px;
  padding-left: 0.625rem;
}

.pr-2 {
  padding-right: 10px;
  padding-right: 0.625rem;
}

.pt-2 {
  padding-top: 10px;
  padding-top: 0.625rem;
}

.pb-2 {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.mg-2 {
  margin: 10px;
  margin: 0.625rem;
}

.mx-2 {
  margin: 0px 10px;
  margin: 0rem 0.625rem;
}

.my-2 {
  margin: 10px 0px;
  margin: 0.625rem 0rem;
}

.mt-2 {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.ml-2 {
  margin-left: 10px;
  margin-left: 0.625rem;
}

.mb-2 {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

.mr-2 {
  margin-right: 10px;
  margin-right: 0.625rem;
}

.mr-2-i {
  margin-right: 10px;
  margin-right: 0.625rem;
}

.pd-3 {
  padding: 15px;
  padding: 0.9375rem;
}

.px-3 {
  padding: 0px 15px;
  padding: 0rem 0.9375rem;
}

.py-3 {
  padding: 15px 0px;
  padding: 0.9375rem 0rem;
}

.pl-3 {
  padding-left: 15px;
  padding-left: 0.9375rem;
}

.pr-3 {
  padding-right: 15px;
  padding-right: 0.9375rem;
}

.pt-3 {
  padding-top: 15px;
  padding-top: 0.9375rem;
}

.pb-3 {
  padding-bottom: 15px;
  padding-bottom: 0.9375rem;
}

.mg-3 {
  margin: 15px;
  margin: 0.9375rem;
}

.mx-3 {
  margin: 0px 15px;
  margin: 0rem 0.9375rem;
}

.my-3 {
  margin: 15px 0px;
  margin: 0.9375rem 0rem;
}

.mt-3 {
  margin-top: 15px;
  margin-top: 0.9375rem;
}

.ml-3 {
  margin-left: 15px;
  margin-left: 0.9375rem;
}

.mb-3 {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}

.mr-3 {
  margin-right: 15px;
  margin-right: 0.9375rem;
}

.mr-3-i {
  margin-right: 15px;
  margin-right: 0.9375rem;
}

.pd-4 {
  padding: 20px;
  padding: 1.25rem;
}

.px-4 {
  padding: 0px 20px;
  padding: 0rem 1.25rem;
}

.py-4 {
  padding: 20px 0px;
  padding: 1.25rem 0rem;
}

.pl-4 {
  padding-left: 20px;
  padding-left: 1.25rem;
}

.pr-4 {
  padding-right: 20px;
  padding-right: 1.25rem;
}

.pt-4 {
  padding-top: 20px;
  padding-top: 1.25rem;
}

.pb-4 {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.mg-4 {
  margin: 20px;
  margin: 1.25rem;
}

.mx-4 {
  margin: 0px 20px;
  margin: 0rem 1.25rem;
}

.my-4 {
  margin: 20px 0px;
  margin: 1.25rem 0rem;
}

.mt-4 {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.ml-4 {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.mb-4 {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.mr-4 {
  margin-right: 20px;
  margin-right: 1.25rem;
}

.mr-4-i {
  margin-right: 20px;
  margin-right: 1.25rem;
}

.pd-5 {
  padding: 25px;
  padding: 1.5625rem;
}

.px-5 {
  padding: 0px 25px;
  padding: 0rem 1.5625rem;
}

.py-5 {
  padding: 25px 0px;
  padding: 1.5625rem 0rem;
}

.pl-5 {
  padding-left: 25px;
  padding-left: 1.5625rem;
}

.pr-5 {
  padding-right: 25px;
  padding-right: 1.5625rem;
}

.pt-5 {
  padding-top: 25px;
  padding-top: 1.5625rem;
}

.pb-5 {
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
}

.mg-5 {
  margin: 25px;
  margin: 1.5625rem;
}

.mx-5 {
  margin: 0px 25px;
  margin: 0rem 1.5625rem;
}

.my-5 {
  margin: 25px 0px;
  margin: 1.5625rem 0rem;
}

.mt-5 {
  margin-top: 25px;
  margin-top: 1.5625rem;
}

.ml-5 {
  margin-left: 25px;
  margin-left: 1.5625rem;
}

.mb-5 {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
}

.mr-5 {
  margin-right: 25px;
  margin-right: 1.5625rem;
}

.mr-5-i {
  margin-right: 25px;
  margin-right: 1.5625rem;
}

.pd-6 {
  padding: 30px;
  padding: 1.875rem;
}

.px-6 {
  padding: 0px 30px;
  padding: 0rem 1.875rem;
}

.py-6 {
  padding: 30px 0px;
  padding: 1.875rem 0rem;
}

.pl-6 {
  padding-left: 30px;
  padding-left: 1.875rem;
}

.pr-6 {
  padding-right: 30px;
  padding-right: 1.875rem;
}

.pt-6 {
  padding-top: 30px;
  padding-top: 1.875rem;
}

.pb-6 {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}

.mg-6 {
  margin: 30px;
  margin: 1.875rem;
}

.mx-6 {
  margin: 0px 30px;
  margin: 0rem 1.875rem;
}

.my-6 {
  margin: 30px 0px;
  margin: 1.875rem 0rem;
}

.mt-6 {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.ml-6 {
  margin-left: 30px;
  margin-left: 1.875rem;
}

.mb-6 {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

.mr-6 {
  margin-right: 30px;
  margin-right: 1.875rem;
}

.mr-6-i {
  margin-right: 30px;
  margin-right: 1.875rem;
}

.pd-7 {
  padding: 35px;
  padding: 2.1875rem;
}

.px-7 {
  padding: 0px 35px;
  padding: 0rem 2.1875rem;
}

.py-7 {
  padding: 35px 0px;
  padding: 2.1875rem 0rem;
}

.pl-7 {
  padding-left: 35px;
  padding-left: 2.1875rem;
}

.pr-7 {
  padding-right: 35px;
  padding-right: 2.1875rem;
}

.pt-7 {
  padding-top: 35px;
  padding-top: 2.1875rem;
}

.pb-7 {
  padding-bottom: 35px;
  padding-bottom: 2.1875rem;
}

.mg-7 {
  margin: 35px;
  margin: 2.1875rem;
}

.mx-7 {
  margin: 0px 35px;
  margin: 0rem 2.1875rem;
}

.my-7 {
  margin: 35px 0px;
  margin: 2.1875rem 0rem;
}

.mt-7 {
  margin-top: 35px;
  margin-top: 2.1875rem;
}

.ml-7 {
  margin-left: 35px;
  margin-left: 2.1875rem;
}

.mb-7 {
  margin-bottom: 35px;
  margin-bottom: 2.1875rem;
}

.mr-7 {
  margin-right: 35px;
  margin-right: 2.1875rem;
}

.mr-7-i {
  margin-right: 35px;
  margin-right: 2.1875rem;
}

.pd-8 {
  padding: 40px;
  padding: 2.5rem;
}

.px-8 {
  padding: 0px 40px;
  padding: 0rem 2.5rem;
}

.py-8 {
  padding: 40px 0px;
  padding: 2.5rem 0rem;
}

.pl-8 {
  padding-left: 40px;
  padding-left: 2.5rem;
}

.pr-8 {
  padding-right: 40px;
  padding-right: 2.5rem;
}

.pt-8 {
  padding-top: 40px;
  padding-top: 2.5rem;
}

.pb-8 {
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}

.mg-8 {
  margin: 40px;
  margin: 2.5rem;
}

.mx-8 {
  margin: 0px 40px;
  margin: 0rem 2.5rem;
}

.my-8 {
  margin: 40px 0px;
  margin: 2.5rem 0rem;
}

.mt-8 {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.ml-8 {
  margin-left: 40px;
  margin-left: 2.5rem;
}

.mb-8 {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.mr-8 {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.mr-8-i {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.pd-9 {
  padding: 45px;
  padding: 2.8125rem;
}

.px-9 {
  padding: 0px 45px;
  padding: 0rem 2.8125rem;
}

.py-9 {
  padding: 45px 0px;
  padding: 2.8125rem 0rem;
}

.pl-9 {
  padding-left: 45px;
  padding-left: 2.8125rem;
}

.pr-9 {
  padding-right: 45px;
  padding-right: 2.8125rem;
}

.pt-9 {
  padding-top: 45px;
  padding-top: 2.8125rem;
}

.pb-9 {
  padding-bottom: 45px;
  padding-bottom: 2.8125rem;
}

.mg-9 {
  margin: 45px;
  margin: 2.8125rem;
}

.mx-9 {
  margin: 0px 45px;
  margin: 0rem 2.8125rem;
}

.my-9 {
  margin: 45px 0px;
  margin: 2.8125rem 0rem;
}

.mt-9 {
  margin-top: 45px;
  margin-top: 2.8125rem;
}

.ml-9 {
  margin-left: 45px;
  margin-left: 2.8125rem;
}

.mb-9 {
  margin-bottom: 45px;
  margin-bottom: 2.8125rem;
}

.mr-9 {
  margin-right: 45px;
  margin-right: 2.8125rem;
}

.mr-9-i {
  margin-right: 45px;
  margin-right: 2.8125rem;
}

.pd-10 {
  padding: 50px;
  padding: 3.125rem;
}

.px-10 {
  padding: 0px 50px;
  padding: 0rem 3.125rem;
}

.py-10 {
  padding: 50px 0px;
  padding: 3.125rem 0rem;
}

.pl-10 {
  padding-left: 50px;
  padding-left: 3.125rem;
}

.pr-10 {
  padding-right: 50px;
  padding-right: 3.125rem;
}

.pt-10 {
  padding-top: 50px;
  padding-top: 3.125rem;
}

.pb-10 {
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
}

.mg-10 {
  margin: 50px;
  margin: 3.125rem;
}

.mx-10 {
  margin: 0px 50px;
  margin: 0rem 3.125rem;
}

.my-10 {
  margin: 50px 0px;
  margin: 3.125rem 0rem;
}

.mt-10 {
  margin-top: 50px;
  margin-top: 3.125rem;
}

.ml-10 {
  margin-left: 50px;
  margin-left: 3.125rem;
}

.mb-10 {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

.mr-10 {
  margin-right: 50px;
  margin-right: 3.125rem;
}

.mr-10-i {
  margin-right: 50px;
  margin-right: 3.125rem;
}

.txt-prewarp {
  white-space: pre-wrap;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

.txt-bold {
  font-weight: 700;
}

.txt-demi {
  font-weight: 600;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.text-danger {
  color: red;
}

.d-flex {
  display: flex;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.bg-violet {
  background-color: #6d28d9;
}

.bg-violet-light {
  background-color: #ede9fe;
}

.bg-blue {
  background-color: #0369a1;
}

.bg-blue-light {
  background-color: #e0f2fe;
}

.bg-amber {
  background-color: #b45309;
}

.bg-amber-light {
  background-color: #fef3c7;
}

.bg-rose {
  background-color: #be123c;
}

.bg-rose-light {
  background-color: #ffe4e6;
}

.bg-green {
  background-color: #047857;
}

.bg-green-light {
  background: #e8f8f3;
}

.text-violet {
  color: #6d28d9;
}

.text-blue {
  color: #0369a1;
}

.text-amber {
  color: #b45309;
}

.text-rose {
  color: #be123c;
}

.text-green {
  color: #047857;
}

.border-left-violet {
  border-left: 3px solid #8b5cf6 !important;
}

.border-left-blue {
  border-left: 3px solid #0ea5e9 !important;
}

.border-left-rose {
  border-left: 3px solid #f43f5e !important;
}

.border-left-green {
  border-left: 3px solid #10b981 !important;
}

.border-left-amber {
  border-left: 3px solid #f59e0b !important;
}

.users-page .users-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.users-page table.users {
  border-collapse: collapse;
  width: 100%;
}
.users-page table.users.user-detail {
  width: 50%;
  margin: 0 auto;
}
.users-page table.users td, .users-page table.users th {
  padding: 8px;
}
.users-page table.users tr:nth-child(odd) {
  background-color: #EEEEEE;
}
.users-page table.users tr:hover {
  background-color: #ddd;
}
.users-page table.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

.login-page {
  height: 100vh;
  overflow: hidden;
}
.login-page .login-wrapper {
  height: 100%;
}
.login-page .login-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}
.login-page .login-content .login-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}
.login-page .login-content .login-sub-title {
  font-size: 16px;
  font-weight: 500;
  color: #525252;
  margin-bottom: 24px;
  text-wrap: wrap;
  text-align: center;
}
.login-page .login-content .login-form {
  width: 350px;
}
.login-page .login-content .login-form .login-btn {
  margin-top: 16px;
}
.login-page .login-content .login-form .form-input-helper {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
}
.login-page .login-bg {
  height: 100%;
}
.login-page .login-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .login-page .login-bg {
    display: none;
  }
}
.home {
  overflow: hidden;
  height: 100vh;
}

.full-calendar {
  width: calc(100% - 109px);
}

.sidebar-sm {
  width: 109px;
}

/*# sourceMappingURL=app.css.map */
