.home {
  .sidebar {
    border-right: 1px solid #9d9d9d;
    height: 100vh;
    padding: 10px 16px;
    overflow: scroll;
  }

  .btn-add {
    margin-top: 24px;
    font-size: 16px;
  }
  .form-title {
    margin-bottom: 14px;
  }
  .form-input-group {
    margin-bottom: 10px;
  }
}
