.login-page {
  height: 100vh;
  overflow: hidden;

  .login-wrapper {
    height: 100%;
  }

  .login-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;

    .login-title {
      font-size: 32px;
      font-weight: 700;
      line-height: 1;
    }

    .login-sub-title {
      font-size: 16px;
      font-weight: 500;
      color: #525252;
      margin-bottom: 24px;
      text-wrap: wrap;
      text-align: center;
    }

    .login-form {
      min-width: 350px;

      .login-btn {
        margin-top: 16px;
      }

      .form-input-helper {
        margin-top: 8px;
        text-align: center;
        font-size: 14px;
      }
    }
  }

  .login-bg {
    height: 100%;
  }

  .login-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .login-page {
    .login-bg {
      display: none;
    }
  }
}
