.login-page {
  height: 100vh;

  .login-wrapper {
    height: 100%;
  }

  .login-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;

    .login-title {
      font-size: 32px;
      font-weight: 700;
      line-height: 1;
    }

    .login-sub-title {
      font-size: 16px;
      font-weight: 500;
      color: #525252;
      margin-bottom: 24px;
      text-wrap: wrap;
      text-align: center;
    }

    .login-form {
      width: 350px;
      .form-field {
        position: relative;
      }

      .form-input-group {
        position: relative;
        margin-bottom: 24px;

        .icon {
          position: absolute;
          left: 10px;
          top: 14px;
          z-index: 10;
        }
      }

      .error-text {
        margin-top: 6px;
        height: 10px;
        font-size: map-get($font-size, $key: xs);
        color: map-get($color, $key: red);
        line-height: 1;
      }

      .form-input {
        position: relative;
        width: 100%;
        padding: 16px 18px 16px 44px;
        background-color: #fff;
        border: 1px solid #d3d8e0;
        color: #757575;
        border-radius: 8px;

        &:focus::placeholder {
          color: transparent;
        }
      }
      .login-btn {
        background-color: #ff385c;
      }
    }
  }

  .login-bg {
    height: 100%;
  }

  .login-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .login-page {
    .login-bg {
      display: none;
    }
  }
}
