.custom-event-wrapper {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 2px;
  overflow: hidden;

  .custom-event {
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 14px;
      height: 14px;
    }

    &-time-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap-reverse;
    }

    &-time {
      line-height: 20px;
      margin-right: 4px;
      font-size: 12px;
    }

    &-title {
      font-size: 12px;
    }

    &-time,
    &-title {
      font-weight: 500;
    }
  }
}

@include tablet {
  .custom-event-wrapper {
    .custom-event {
      &.time {
        margin-right: 0;
      }
    }
  }
}
