.event-detail-wrapper {
  width: 100%;

  .event-info {
    &-list {
      display: flex;
      flex-direction: column;
    }
    &-item {
      padding: 8px 0;
      .event-detail {
        display: flex;

        &-date-wrapper {
          font-size: 14px;
          font-weight: 400;
          padding-left: 32px;
        }

        &-icon {
          display: flex;
          justify-content: center;
          width: 24px;
          margin-right: 10px;
        }

        &-info {
          width: 100%;
          font-size: 14px;
          font-weight: 400;
        }

        &-link {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}
