.form-input-group {
  display: flex;
  margin-bottom: 8px;
}

.form-label {
  font-size: map-get($font-size, $key: lg);
}

.input-icons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-block: 4px;
  padding: 8px;
  border-radius: 9px;
  border: 1px solid #d3d8e0;
  background: #fff;
  position: relative;
  &:hover {
    border: 1px solid #1c1c1c;
  }
  &:focus-within {
    border: 1px solid #1c1c1c;
  }
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-label {
  margin-left: 4px;
  font-size: 13px;
  font-weight: 600;
}

.form-input {
  padding-left: 4px;
  border-radius: 8px;
  height: 25px;
  flex: 1;
  // padding-top: 2px;
  &::placeholder {
    font-size: 14px;
    color: #d8d7d7;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.form-error {
  color: map-get($color, $key: red);
  font-size: 12px;
}

.form-label {
  font-weight: 500;
}
.form-title,
.form-label {
  color: map-get($color, $key: primary);
}
.form-input-group {
  flex-direction: column;
}

.form-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.form-btn-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  align-items: center;
  margin-top: 20px;

  .form-btn {
    font-weight: 700;
    font-size: 20px;
    padding: 12px 80px;
    border-radius: 12px;
    font-size: 16px;
    height: 48px;
    cursor: pointer;
  }
  .cancel {
    color: rgba(21, 25, 32, 0.5);
    background-color: #f5f7fb;
    flex: 1;
  }
  .save {
    background-color: #ff385c;
    color: #fff;
    flex: 1;
  }
}

.btn-add {
  width: 100%;
  border-radius: 8px;
  padding: 10px 12px;
  color: #fff;
  background-color: map-get($color, $key: primary);
  cursor: pointer;
}

.search-list {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  border-radius: 6px;
  z-index: 1;
  background-color: #fff;
}

.search-item {
  margin: 4px 0;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 15px;
  &:hover {
    background-color: #f5f5f59f;
    cursor: pointer;
  }
  &.disabled {
    position: relative;
    opacity: 0.4;
    cursor: default;
  }
}

.guest-list {
  max-height: 250px;
  overflow-y: scroll;
}
.guest-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 400;
  .icon-delete {
    visibility: hidden;
  }
  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    .icon-delete {
      visibility: initial;
    }
  }
}
