.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  &-arrow-left {
    width: 14px;
    height: 14px;
    background-image: url('../../assets/icons/ic-arrow-left.svg');
  }
  &-list {
    width: 14px;
    height: 14px;
    background-image: url('../../assets/icons/ic-list.svg');
  }
}
