.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &-username {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/ic-username.svg');
  }

  &-password {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/ic-password.svg');
  }
}
