.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;

  &-username {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/ic-username.svg');
  }

  &-password {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/ic-password.svg');
  }

  &.icon-arrow-left {
    width: 18px;
    height: 18px;
    background-image: url('../../assets/icons/ic-arrow-left.svg');
  }
  &.icon-list {
    width: 26px;
    height: 26px;
    background-image: url('../../assets/icons/ic-list.svg');
  }
  &.icon-plus-circle {
    width: 32px;
    height: 32px;
    background-image: url('../../assets/icons/ic-plus-circle.svg');
  }
  &.icon-trash {
    width: 24px;
    height: 24px;
    background-image: url('../../assets/icons/ic-trash.svg');
  }
  &.icon-plus {
    width: 18px;
    height: 18px;
    background-image: url('../../assets/icons/ic-plus.svg');
  }
  &.icon-active {
    width: 8px;
    height: 8px;
    background-image: url('../../assets/icons/ic-active.svg');
  }

  &.icon-active-event {
    width: 12px;
    height: 12px;
    background-image: url('../../assets/icons/ic-active-event.svg');
  }
  &.icon-camera {
    width: 8px;
    height: 8px;
    background-image: url('../../assets/icons/ic-camera.svg');
  }
  &.icon-meeting-link {
    width: 22px;
    height: 22px;
    background-image: url('../../assets/icons/ic-meeting-link.svg');
  }
  &.icon-desc {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/ic-desc.svg');
  }
  &.icon-room {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/ic-room.svg');
  }
  &.icon-calendar {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/ic-calendar.svg');
  }
  &.icon-user {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/ic-user.svg');
  }
  &.icon-copy {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/ic-copy.svg');
    cursor: pointer;
  }
  &.icon-time {
    width: 14px;
    height: 14px;
    background-image: url('../../assets/icons/ic-time.svg');
  }
  &.icon-close {
    width: 18px;
    height: 18px;
    background-image: url('../../assets/icons/ic-close.svg');
  }
  &.icon-pen {
    width: 18px;
    height: 18px;
    background-image: url('../../assets/icons/ic-pen.svg');
  }
  &.icon-bin {
    width: 18px;
    height: 18px;
    background-image: url('../../assets/icons/ic-bin.svg');
  }
}
