.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  &-arrow-left {
    width: 14px;
    height: 14px;
    background-image: url('../../assets/icons/ic-arrow-left.svg');
  }
  &-list {
    width: 14px;
    height: 14px;
    background-image: url('../../assets/icons/ic-list.svg');
  }
  &-trash {
    width: 24px;
    height: 24px;
    background-image: url('../../assets/icons/ic-trash.svg');
  }
  &-plus {
    width: 24px;
    height: 24px;
    background-image: url('../../assets/icons/ic-plus.svg');
  }
  &-time {
    width: 14px;
    height: 14px;
    background-image: url('../../assets/icons/ic-time.svg');
  }
}
