.modal-event-wrapper {
  width: 530px;
  padding: 24px 28px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;

  .modal-event-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    gap: 8px;
    transition: all 0.2s ease-in-out;

    

    .btn-modal-link{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 50%;
     
  
      
      &:hover {
        background-color: map-get($color, 'gray-f4');
      }
    }
  
  }

  .event-detail-wrapper {
    .event-detail {
      font-size: 16px;
      font-weight: 400;
    }

    .event-info {
      &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &-row {
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
      }

      &-col {
        padding: 14px;
        border: 1px solid #eee;
        gap: 8px;
        border-radius: 10px;
        flex: 1;
        display: flex;
        align-items: center;
      }

      &-item {
        padding: 14px;
        border: 1px solid #eee;
        border-radius: 10px;

        .event-detail {
          display: flex;
          align-items: center;
          gap: 8px;
          &-info {
            font-size: 14px;
            font-weight: 400;
            flex: 1;
          }
        }
      }
    }
  }
}
