// @import "./node_modules/reset-css/sass/reset";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
