// @import "./node_modules/reset-css/sass/reset";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
<<<<<<< HEAD
=======
  // transition: 0.3s;
>>>>>>> ed841a4fc73edaf5ddba22e652446a03b6fbff88
}
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
